$headerBackground: url(../img/header_background_v1.jpg);
$headerColor: #ECECEC;
$headerStyleText: Roboto Ubuntu Cantarell Helvetica sans-serif;
$btnBackground: #01ACAC;
$mainBackground: #FFFFFF;
$articleBackground:#EFEFEF;
$post-descriptionColor: #E90303;
$postH3Color: #0097A7;
$baseFontStyle: normal;
$baseFontWeight: 300;
$baseFontSize:15px;
$baseLineHeight: 24px;
$baseFontFamily: Roboto, Ubuntu, Cantarell, Helvetica, sans-serif;
$formBorderColor: #607D8B;
