$headerBackground: url(../img/header_background_v2.jpg);
$headerColor: #FF5722;
$headerStyleText: serif;
$btnBackground: #0401AC;
$mainBackground: #EFEFEF;
$articleBackground: #FFFFFF;
$post-descriptionColor: #BDBDBD;
$postH3Color: #607D8B;
$baseFontStyle: normal;
$baseFontWeight: initial;
$baseFontSize: 18px;
$baseLineHeight: 26px;
$baseFontFamily: "Palatino Linotype", "Book Antiqua", Palatino, serif;
$formBorderColor: #CFD8DC;